.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 100%;
  height: auto;
  padding: 20px;

  .input-home {
    width: 90%;
    padding: 20px 0;
    margin: 50px 0 20px 0;
  }
  .button-home {
    display: flex;
    justify-content: space-evenly;

    button {
      padding: 5px;
      margin: 20px;
      border: none;
      border-radius: 6px;
      background: var(--white-snow);

      &:hover {
        background: rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease;
      }
    }
  }

  .container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    gap: 3rem;
  }

  @media (min-width: 600px) {
    .input-home {
      width: 80%;
    }
  }
  @media (min-width: 800px) {
    .input-home {
      width: 50%;
    }
  }
}
