.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 100%;
  height: auto;
  padding: 10px;

  .container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    gap: 20px;
  }
}
