.specification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  width: 90%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;

  color: var(--black-shadow);
  a {
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }
  a:hover {
    transition: all 0.2s ease;
    color: #393e4d;
  }

  .specification {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 600px;
    height: auto;
    padding: 24px;

    border-radius: 8px;
    background: var(--white);

    .specification-text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;

      height: 100%;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
        width: 99%;
      }
    }

    .specification-img {
      width: auto;
      object-fit: contain;
      background: var(--white);
      image-resolution: 300dpi;
    }

    @media (min-width: 769px) {
      flex-direction: row;
      align-items: center;
      width: 80%;
      height: 30rem;
      transition: 0.5s;

      .specification-img {
        max-width: 25rem;
        width: 60%;
      }

      .specification-text {
        gap: 0;
        width: 40%;
        text-align: left;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }

    @media (min-width: 1439px) {
      width: 60%;
      .specification-text {
        // width: 30%;
        height: 80%;
      }
    }
  }
}
