.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 200px;
  height: 25rem;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;

  background: var(--white);
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);

  .image {
    position: whatever;
    background-repeat: no-repeat;
    background-position: whatever whatever;
  }

  .card-img {
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    background: var(--white);
    image-resolution: 300dpi snap;
  }

  .card-text {
    font-size: 14px;
    width: 95%;
    margin: 0 auto;

    p {
      margin: 20px;
    }
  }

  .heading {
    background: var(--white);
    color: var(--black-shadow);
  }
  a {
    color: var(--black-shadow);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    &:hover {
      color: var(--withe-shadow-light);
      transition: 0.2s ease;
    }
  }
  @media (min-width: 730px) {
    width: 300px;
    height: 26rem;
    transition: 0.3s;

    .card-text {
      width: 90%;
    }

    p {
      font-size: 16px;
    }
  }
}
